.main {
  height: 90px;
  max-width: 100%;
}

.hsticky {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
}

.stickyNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease;
}

.flexContainer {
  height: 90px;
  display: flex;
  margin: 0 -15px;
  flex-flow: row nowrap;
  justify-content: center;
}

.headerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.logo {
  max-width: 35%;
  position: relative;
  z-index: 10;
}

.logoLink {
  color: #000;
  background-color: transparent;
  height: 100%;
}

.logoImage {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}
.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menuList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuItem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid #000;
  }
}

.menuLink {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  color: #000;
  font-size: 1.6rem;
}

.formSearch {
  position: relative;
  -webkit-transition: width 0.3s linear 0.1s;
  transition: width 0.3s linear 0.1s;
  width: 200px;
}

.buttonSearch {
  position: absolute;
  padding: 0;
  top: 0px;
  bottom: 0;
  left: 0px;
  border-radius: 0 4px 4px 0;
  border: 0;
  width: 55px;
  background: transparent;
  transition: opacity 150ms linear;
}

.searchProduct {
  padding: 9px 9px 10px 50px;
  width: 100%;
  background: #fff;
  border: 1px solid #ececec;
  font-size: 1.4rem;
  margin: 0;
  display: inline-block;
  border-radius: 30px;
  appearance: none;
  transition: all 150ms linear;
}

.iconSearch {
  font-size: 1.8rem;
}

.cartProduct {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}
.headerCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconCart {
  font-size: 2.4rem;
}

.titleCart {
  font-size: 1.3rem;
}

.active {
  border-bottom: 2px solid #000;
}

.cartProduct.actionShow .boxTriangle {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out 0.1s, visibility 0.2s ease-in-out 0.21s;
}

.boxTriangle {
  position: absolute;
  top: calc(100% - 13px);
  left: 0;
  right: 0;
  z-index: 992;
  margin: 0 auto;
  width: 20px;
  height: 15px;
  opacity: 0;
  visibility: visible;
  transition: opacity 0.25s ease-in-out 0s, visibility 0.25s ease-in-out 0s;

  svg {
    -webkit-filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
    filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
  }
}

.cartProduct.actionShow .headerDropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), visibility 0.4s linear,
    -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
  transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1),
    transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
  transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1),
    transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear,
    -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
}

.cartProduct .headerDropdown {
  position: absolute;
  top: 100%;
  left: auto;
  right: -15px;
  z-index: 990;
  min-width: 280px;
  border-radius: 3px;
  color: #677279;
  background: #fff;
  box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out,
    max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
    visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
    visibility 0.25s ease-in-out, max-height 0s linear 0.25s,
    -webkit-transform 0.25s ease-in-out;
  will-change: transform;
}

.headerDropdownContent {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 20px 20px;
}

.siteNavContentTitle {
  position: relative;
  padding: 0 0 10px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;

  .txtTitle {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
    font-weight: 500;
  }
}

.siteNavContentBlock {
  padding-top: 0;
}

.siteNavBoxScroll {
  padding-top: 5px;
  padding-bottom: 5px;
}
.miniCartEmpty {
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.miniCartRemove {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;

  a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #f4f6fb;
    display: block;
    color: #000000;

    svg {
      width: 10px;
      height: 20px;
    }
  }
}

.miniCartItem:last-child {
  border-bottom: 0;
}

.miniCartItem {
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  border-bottom: 1px dotted #e7e7e7;
}

.miniCartLeft {
  -ms-flex: 0 0 85px;
  flex: 0 0 85px;
  max-width: 85px;
  text-align: center;

  img {
    display: block;
    border: 1px solid #ededed;
  }
}

.miniCartRight {
  -ms-flex: 0 0 calc(100% - 85px);
  flex: 0 0 calc(100% - 85px);
  max-width: calc(100% - 85px);
  padding-left: 15px;

  .miniCartTitle {
    .mnc-title {
      display: block;
      font-size: 12px;
      font-weight: 600;
      padding-right: 35px;
      text-transform: uppercase;
      color: #000000;
    }

    .mnc-variant {
      display: block;
      font-size: 13px;
      margin: 0px 0 7px;
    }
  }
  .miniCartQuantity {
    margin-top: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: space-between;
    justify-content: space-between;

    .quantitySelector {
      white-space: nowrap;
      margin-right: 15px;

      .qtyBtn {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(0, 0, 0, 0.6);
        color: #000000;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        outline: none;
        box-shadow: none;
        display: inline-block;
        vertical-align: middle;

        svg {
          height: 22px;
          width: 10px;
          fill: #000000;
          stroke: #000000;
        }
      }
      .qtyValue {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        font-size: 15px;
        outline: none;
        border: 0;
        width: 30px;
        text-align: center;
        color: #000000;
        line-height: 24px;
        height: 24px;
      }
    }

    .quantyCartPrice {
      display: block;
      font-weight: 600;
      color: #000;
    }
  }
}

.svgMiniCart svg {
  stroke: #000000;
  width: 50px;
  height: 50px;
  margin: 5px auto 0;
}

.cartViewLine {
  clear: both;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  margin: 0 0 5px;
}

.miniCartTotal {
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.totalText {
  font-weight: 500;
  color: #252a2b;
  padding: 10px 0;
}
.totalPrice {
  font-weight: 600;
  font-size: 16px;
  color: red;
}

.miniCartBtn {
  margin: 0 -5px;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  justify-content: space-between;

  .mnc-cta {
    padding: 0 5px;
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;

    .linktocart {
      display: block;
      width: 100%;
      margin: 5px 0 10px;
      font-size: 12px;
      padding: 10px 10px;
    }

    .button.btnred {
      background-color: #ffffff;
      border-color: #ff0000;

      &::before {
        background: #ff0000;
      }
    }
    .button {
      position: relative;
      display: inline-block;
      z-index: 1;
      overflow: hidden;
      padding: 12px 28px;
      color: #fff;
      background-color: #000000;
      border: 1px solid #2c2c2c;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 1px;
      outline: none;
      border-radius: 2px;
      text-transform: uppercase;
      -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);

      &::before {
        content: "";
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        left: -2px;
        top: 0;
        right: -2px;
        bottom: 0;
        z-index: -1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: -webkit-transform 0.45s
          cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: -webkit-transform 0.45s
          cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
          -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      &:hover::before {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
      }
    }
  }
}

.sitenav-overlay {
  background: rgba(225, 225, 225, 0.05);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms linear;
}
.sitenav-overlay {
  opacity: 1;
  visibility: visible;
}

.user {
  text-align: center;
  display: inline-block;

  p {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .siteNavBoxScroll {
    overflow-y: scroll;
    max-height: 55vh;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    margin-right: -20px;
    padding-right: 20px;
  }
  .siteNavBoxScroll::-webkit-scrollbar {
    width: 4px;
    height: 3px;
  }
  .siteNavBoxScroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #e1e3e4;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }
  .siteNavBoxScroll::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  .button.btnred:hover {
    color: #ff0000;
    border-color: #ff0000;
  }
}

@media (min-width: 768px) {
  .headerDropdown {
    width: 420px;
  }
}

@media (min-width: 1200px) {
  .headerOverFlowSearch {
    position: fixed;
    top: 10% !important;
    width: 100%;
    height: 100%;
    z-index: 8;
    left: 0;
    background: rgba(57, 57, 57, 0.7);
  }
}
