.headerWrapSearch {
  -ms-align-self: center;
  align-self: center;
  padding: 0;
}

[class*="headerWrap"] {
  padding: 0 15px;
}

.headerWrapSearch .headerSearch {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
  transition: width 0.25s ease, transform 0.25s ease;
}

.headerWrapSearch .headerSearch {
  max-width: 600px;
}

.searchFormProduct {
  position: relative;
  z-index: 100;
  -webkit-transition: width 0.3s linear 0.1s;
  transition: width 0.3s linear 0.1s;
}

.btnSearch {
  position: absolute;
  padding: 0;
  top: 0px;
  bottom: 0;
  left: 0px;
  border-radius: 0 4px 4px 0;
  border: 0;
  width: 55px;
  background: transparent;
  transition: opacity 150ms linear;

  svg {
    width: 18px;
    display: block;
    margin: auto;
    fill: #c5cee0;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.inputSearch {
  padding: 9px 9px 10px 50px;
  width: 100%;
  background: #fff;
  border: 1px solid #ececec;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  display: inline-block;
  border-radius: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;

  &:focus {
    background: #ffffff;
    outline: none;
    border-color: #000000;
  }
}

.headerSearch .smartSearchWrapper {
  top: 100%;
  left: 0;
  right: 0;
  z-index: 80;
  padding: 20px 0;
}

.smartSearchWrapper {
  width: 100%;
  background: #fff;
}

.searchSuggest.showSuggest {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.35s 0.4s, visibility 0.35s 0.4s,
    transform 0.25s ease 0.35s;
}

.searchSuggest {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);

  p {
    margin: 0 0 12px;
  }
}

.searchSuggest li {
  margin-bottom: 5px;

  a {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000000;
  }
}

.resultsContent {
  .itemUlt {
    padding: 12px 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    .thumbs {
      width: 50px;
    }

    .title {
      width: calc(100% - 50px);
      padding-right: 15px;
      position: relative;

      a {
        font-weight: 500;
        display: block;
        color: #000000;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0px 0 5px;
      }
      p {
        line-height: 15px;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
      }
    }
  }
}

.searchSuggest.showSuggest {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.35s 0.4s, visibility 0.35s 0.4s,
    transform 0.25s ease 0.35s;
}

.searchSuggest {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);

  li {
    margin-bottom: 5px;

    a {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #000000;
    }
  }
}

.resultMore {
  border-top: 1px dotted #dfe0e1;
  width: 100%;

  a {
    font-weight: 500;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 10px 0;
  }
}

.resultMore.resultMoreDesktop {
  border-top: 1px dotted #dfe0e1;
  width: 100%;
}

.closeSearch {
  span {
    display: flex;
    background: #f5f5f5;
    border-radius: 100px;
    padding: 14px;

    svg {
      height: 12px;
      width: 12px;
    }
  }
}

.dataEmpty {
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 992px) {
  .headerWrapSearch {
    z-index: 9;
    min-height: 312px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    padding: 12px 16px;
    transition: all 0.1s;
    transform: none;
    display: inline-block;
  }

  .searchFormProduct {
    width: 100% !important;
  }

  .closeSearch {
    position: absolute;
    top: 12px;
    right: 24px;
    background: transparent;
    flex: 0 0 auto;
    align-items: center;
    border-radius: 100px;
    display: block;
    z-index: 9;
    border: none;
  }
}
