.pageOrders {
  background: #ffffff;
  padding: 20px;
}

.headingPageOrders {
  h1 {
    font-size: 3rem;
    margin: 0px 0 25px;
    text-align: center;
  }
}

.contentPageOrders {
  margin-bottom: 40px;
}

.groupSideBox {
  margin: 0 0 20px;
  position: relative;
  padding: 20px 15px;
  background: #ffffff;
}

.sideBoxTitle {
  h3 {
    font-size: 18px;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
  }
}

